html{font-size: 16px;}

html, body, section{
  height: 100%;
  width: 100%;
}

/* generalized styling */
.section{
  min-height: 100%;
  width: 100%;
  position: relative;
}

.t-20{top: 20%;}
.t-25{top: 25%;}
.t-30{top: 30%;}
.t-40{top: 40%;}
.t-50{top: 50%;}
.t-60{top: 60%;}
.t-75{top: 75%;}

.l-50{left: 50%;}

.mh-35{max-height: 35%;}

.pc-w-75{width: 70%}

.transY-50{
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.transX-50{
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.content-text{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.content-heading{
  font-size: 2.5rem;
  font-family: Roboto;
}

/* section 1 styling */
.section-1{
  background: url(./img/final.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-animation: background 15s ease infinite;
  animation: background 15s ease infinite;
}
@-webkit-keyframes background {
  0% { background-color: #ffa5a5; }
  25% { background-color: #afffaf; }
  50% { background-color: #adadff; }
  100% { background-color: #ffafaf; }
}
nav a{
  font-size: 1.3rem;
  border-bottom: .11rem solid #67b6e6;
  margin: 0.4rem !important;
  color: #67b6e6 !important;
  text-align: center;
}

/* section 2 styling */
.section-2{
  background: #000;
  background-size: cover;
}
.section-2 .content-heading{color: #fac135;}
.section-2 .content-text{color: #fff;}

/* section 3 styling */
.section-3{
  background: url(./img/fina.png);
  background-size: cover;
}
.section-3 .content-heading{color: #e10019;}

/* section 4 styling */
.section-4{
  background: url(./img/slide-3/lifgt.png) repeat-x;
  background-position: top;
  background-size: 60%;
}
.section-4 .content-heading{color: green;}
.section-4 .content-text{color: #000;}

/* section 5 styling */
.section-5{
  background: url(./img/slide-4/flowers.png) no-repeat;
  background-position: bottom;
}
.section-5 .content-heading{
  color: #fa7c04;
}

/* section 6 styling */
.section-6{
  background: url(img/contactus/wave.png) repeat-x;
  background-position: top;
  background-size: 30%;
}
.social-icon{
  height: 150px;
  width: 150px;
}

/* scroll icon styling */
.scroll-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 0;
  opacity: 0.4;
}


/* media queries */
@media (max-width: 1200px) {
  .section-1{background-size: 150%;}
  .section-4{background-size: 70%;}
  .section-6{background-size: 40%;}
}
@media (max-width: 992px) {
  .section-1{background-size: 180%;}
  .section-4{background-size: 70%;}
  .section-6{background-size: 50%;}
}
@media (max-width: 768px) {
  nav a{
    font-size: 1rem;
    border-bottom: .06rem solid #67b6e6 !important;
    margin: 0.6rem;
  }
  .section-1{background-size: 200%;}
  .section-4{background-size: 110%;}
  .section-6{background-size: 60%;}

  .text-content{
    text-align: center;
  }
  .content-heading{
    font-size: 1.6rem !important;
  }
  .mob-w-100{
    width: 100% !important;
  }
  .pc-t-40{
    top: 40%;
  }
  .social-icon{
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 576px) {
  /* new */
  .section-1{background-size: 500%;}
  .section-4{background-size: 150%;}
  .section-6{background-size: 100%;}

  .text-content{
    text-align: center;
    width: 100% !important;
  }
  .mob-mw-100{
    max-width: 100%;
  }
  .mob-t-25{
    top: 25%;
  }
  .social-icon{
    height: 80px;
    width: 80px;
  }
}


/* arrow bounce animation */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
